.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 100vh; */
    background-color: var(--blue-color);
    padding: 50px;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--white-color);
}

.footer__container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.footer__container .sec h2 {
    position: relative;
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 15px;
}

.footer__container .sec p {
    color: var(--white-color);
}

.footer__container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

.footer__container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: var(--pink-color);
    display: grid;
    align-content: center;
    justify-content: center;
}

.footer__container .sci li a i {
    color: var(--white-color);
    font-size: 20px;
}

.footer__container .footer__links {
    position: relative;
}

.footer__container .footer__links a {
    position: relative;
    color: var(--white-color);
}

.footer__container .footer__links ul {
    margin-bottom: 10px;
    display: inline-block;
}

.footer__container .footer__contact .info {
    position: relative;
}

.footer__container .footer__contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.footer__container .footer__contact .info li span {
    color: var(--white-color);
    font-size: 20px;
}

.footer__container .footer__contact .info li a {
    color: var(--white-color);
}

.copyright {
    width: 100%;
    background: var(--grey-color);
    padding: 20px 100px 30px;
    text-align: center;
    color: var(--white-color);
    /* border-top: 1px solid var(--grey-color); */
}

@media (max-width:991px) {
    .footer {
        padding: 40px;
    }

    .footer__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyright {
        padding: 20px 40px 30px;
    }
}

@media (max-width:768px) {
    .footer__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .copyright {
        padding: 20px 40px 30px;
    }
}